In [1]:
import numpy as np
import pandas as pd

In [2]:
df_aisles = pd.read_csv('Data/aisles.csv')
df_departments = pd.read_csv('Data/departments.csv')
df_order_products = pd.read_csv('Data/oder_products_s.csv')
df_orders = pd.read_csv('Data/oders_s.csv')
df_products = pd.read_csv('Data/products.csv')
df_tips = pd.read_csv('Data/tips.csv')

In [3]:
df_tips.drop(columns="Unnamed: 0",inplace=True)
df_product_tip = df_order_products.merge(on="order_id",right=df_tips)[["product_id","tip"]]

In [4]:
df_product_tip_precentage = df_product_tip.groupby("product_id").count()
df_product_tip_precentage["tip given"] = df_product_tip.groupby("product_id").sum()

In [5]:
df_product_tip_precentage["tip percentage"] = (df_product_tip_precentage["tip given"] / df_product_tip_precentage.tip)

In [7]:
df_product_tip_precentage.rename(columns={"tip": "times ordered"},inplace=True)

In [39]:
df_product_tip_precentage.drop(df_product_tip_precentage[df_product_tip_precentage["times ordered"] < 1000].index,axis=0,inplace=True)

In [40]:
TOP10 = df_product_tip_precentage.sort_values(by="tip percentage",ascending=False).head(10)

In [41]:
FLOP10 = df_product_tip_precentage.sort_values(by="tip percentage").head(10)

In [46]:
TOP10 = TOP10.reset_index().merge(df_products)[["product_id","times ordered","tip given","tip percentage","product_name","department_id"]]
TOP10

,product_id,times ordered,tip given,tip percentage,product_name,department_id
0,36425,1073,917,0.854613,Chardonnay Wine,5
1,2120,4493,3750,0.834632,Sauvignon Blanc,5
2,41131,2367,1961,0.828475,India Pale Ale,5
3,38444,3426,2829,0.825744,Chardonnay,5
4,1160,1690,1383,0.818343,Pinot Grigio,5
5,33065,3135,2563,0.817544,Cabernet Sauvignon,5
6,45190,2981,2419,0.811473,Vodka,5
7,12013,2040,1654,0.810784,Pinot Noir,5
8,46088,3108,2517,0.809846,Beer,5
9,27885,1391,1122,0.806614,Malbec,5

In [47]:
FLOP10 = FLOP10.reset_index().merge(df_products)[["product_id","times ordered","tip given","tip percentage","product_name","department_id"]]
FLOP10

,product_id,times ordered,tip given,tip percentage,product_name,department_id
0,17924,1113,268,0.240791,Seltzer Water,7
1,38311,1010,251,0.248515,Lemon Love Juice Drink,7
2,48440,1191,298,0.250210,Pepperoni Pizza Rolls,1
3,9434,1468,375,0.255450,Bag of Large Lemons,1
4,14126,1745,447,0.256160,Gluten and Dairy Free Rice Macaroni and Cheeze,1
5,40939,3095,794,0.256543,Drinking Water,7
6,3358,1019,265,0.260059,"Rising Crust Supreme (Sausage, Pepperoni, Red ...",1
7,49176,1028,276,0.268482,Cinnamon Roll Dough With Icing,13
8,28309,1133,305,0.269197,Gourmet Pizza Three Cheese Gluten Free,1
9,1752,1285,350,0.272374,Mango Sorbet,1